body {
    background: linear-gradient(to right, red, yellow, green, blue); /* Barevný přechod pozadí stránky */
}

table {
    border-collapse: collapse; /* Sloučení okrajů buněk */
    width: 80%;
    margin: 20px auto; /* Centrovaní tabulky */
    background-color: lightgray; /* Barevné pozadí tabulky */
}

th, td {
    border: 1px solid black; /* Ohraničení buněk */
    padding: 10px; /* Vnitřní odsazení buněk */
    text-align: center; /* Zarovnání textu na střed */
}

.sloupce {
    width: 100%;
    height: auto;
    display: flex;
}

.obrazek {
    width: 33%;
    height: auto;
}

  img {
    width: 100%;
    height: auto;
  }