body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-family: sans-serif;
    animation: color-change 5s infinite alternate;
    overflow: hidden; /* Skryje přetečení textu */
  }
  
  @keyframes color-change {
    0% { background-color: rgb(255,0,0); }
    25% { background-color: rgb(0,255,0); }
    50% { background-color: rgb(0,0,255); }
    75% { background-color: rgb(255,255,0); }
    100% { background-color: rgb(0,255,255); }
  }
  
  .container { /* Nový kontejner pro text */
    position: relative; 
    animation: blink 1s infinite; 
  }
  
  .text { /* Styly pro text */
    position: relative; 
    z-index: 1; /* Ujistí se, že text je nad pozadím */
  }
  
  @keyframes blink {
    50% { opacity: 0; }
  }

.obrazek {
    width: 100%;
    height: auto;
}

  img {
    width: 100%;
    height: auto;
  }